.main {
    width: 100vw;
    height: 100vh;
    background: url('../../images/login/bk.png') no-repeat 100%;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginView {
    width: calc(636px + 540px);
    height: 521px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    display: flex;
    max-width:636px;
    width: 636px;
    height: 521px;
    background: rgba(29, 69, 123, 0.8);
    flex-direction: column;
    padding: 123px 58px 124px 43px;
}

.leftAnimateLeave {
    animation: leftAnimateLeave 2.0s forwards;
}

.leftAnimateEnter {
    animation: leftAnimateEnter 1.0s forwards;
    padding: 0px;
    > div {
        display: none;
    }
}

@keyframes leftAnimateLeave {
    from {
        width: 0px;
        overflow: hidden;
        background: rgba(20,92,224,1);
    }
    to {    
        width: 636px;
        overflow: hidden;
        background: rgba(29, 69, 123, 0.8);
        padding: 123px 58px 124px 43px;
    }
}

@keyframes leftAnimateEnter {
    from {
        width: 636px;
        overflow: hidden;
        > div {
            display: none;
        }
    }
    to {    
        width: 0px;
        overflow: hidden;
        display:none;
        background: rgba(20,92,224,1);
        > div {
            display: none;
        }
    }
}

.right {
    width: 540px;
    min-width: 540px;
    max-width:540px;
    height: 521px;
    display: flex;
    padding: 50px 47px 50px 50px;
    flex-direction: column;
    background: white;
}

.title {
    font-size: 36px;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid white;
    height: 60px;
    &::after {
        content: '';
        position: absolute;
        left: 160px;
        width: 33px;
        height: 33px;
        background: url('../../images/login/right.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.content {
    color: white;
    font-size: 47px
}

.iconGroup {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 19px;
    div {
        margin-left: 10px;
    }
    img {
        width: 30px;
        height: 30px;
    }
}

.input {
    display: flex;
    height: 55px;
    width: 100%;
    border-radius: 28px;
    border: 2px solid rgba(20, 92, 224, 1);
    padding: 5px 20px;
    align-items: center;
    img {
        width: 36px;
        height: 36px;
    }
    input {
        width: 100%;
        border: none;
        &:focus {
            border: none;
            box-shadow: none;
        }
    }
}

.rightTitle {
    color: rgba(68, 68, 68, 1);
    font-size: 37px;
    font-weight: bold;
}

.check {
    display: flex;
    align-items: center;
    margin-top: 40px;
    div {
        margin-left: 10px;
        color: rgba(153, 153, 153, 1);
        font-size: 18px;
        font-weight: bold;
    }
    img {
        width: 25px;
        height: 25px;
    }
}

.loginButton {
    margin-top: 25px;
    display: flex;
    height: 69px;
    width: 100%;
    background:rgba(20,92,224,1);
    box-shadow:0px 6px 32px 0px rgba(20,92,224,0.41);
    border-radius:34px;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 26px;
    font-weight: bold;
}
